 <body bgcolor="#E1E1E1">
 
 table {
  height: 40%;
  left: 10%;
  margin: 20px auto;
  overflow-y: scroll;
  position: static;
  width: 80%;
}

thead th {
  background: LightCoral;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

tr {
  background: #FFE4E1;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

th, td {
  font-family: 'Lato', monospace;
  font-weight: 400;
  font-size: 18px;
}

table, th, td {
  border: 1px solid black;
  font-family: Times New Roman, sans-serif;
  text-align: center;
}